# Dependencies
node_modules/
.pnp
.pnp.js

# Production build outputs
dist/
build/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS Files
.DS_Store
*.pem

# Temporary files & uploads
backend/public/temp/*
!backend/public/temp/.gitkeep
